<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Eshop_template</title>
<link href="style.css" rel="stylesheet" type="text/css">
</head>

<body>
<div id="wrapper">
  <header>
  <h1>Logo</h1>
  <img src="images/book.jpg" width="320" height="163" alt=""/> 
  </header>
  <nav id="topNav">
  <span class="topMenuButton"><a href="index.php">HOME</a></span>
  <span class="topMenuButton"><a href="index.php">CART</a></span>
  <span class="topMenuButton"><a href="index.php">CONTACT</a></span>
  <span class="topMenuButton"><a href="index.php">ABOUT</a></span>
  <span class="topMenuButton"><a href="index.php">ADMIN</a></span>
  </nav>
  <main>
  <nav id="sideNav">
  <h3>Zbozi</h3>
  <list>
  <li><span class="sideMenuButton"><a href="index.php">ODKAZ</a></span></li>
  <li><span class="sideMenuButton"><a href="index.php">ODKAZ</a></span></li>
  <li><span class="sideMenuButton"><a href="index.php">ODKAZ</a></span></li>
  <li><span class="sideMenuButton"><a href="index.php">ODKAZ</a></span></li>
  </list>
  </nav>
  
    <div id="obsah"> 
    <h2>Vitej smejde</h2>
    
    <article class="shopItem">
    <div><img src="images/book_thumb.jpg" width="200" height="200" alt=""/></div>
    <p class="itemName">Jmeno knihy</p>
    <p class="itemPrice">999,- vc. DPH</p>
    </article>
    
    <article class="shopItem">
    <div><img src="images/book_thumb.jpg" width="200" height="200" alt=""/></div>
    <p class="itemName">Jmeno knihy</p>
    <p class="itemPrice">999,- vc. DPH</p>
    </article>
    
    <article class="shopItem">
    <div><img src="images/book_thumb.jpg" width="200" height="200" alt=""/></div>
    <p class="itemName">Jmeno knihy</p>
    <p class="itemPrice">999,- vc. DPH</p>
    </article>
    
    <article class="shopItem">
    <div><img src="images/book_thumb.jpg" width="200" height="200" alt=""/></div>
    <p class="itemName">Jmeno knihy</p>
    <p class="itemPrice">999,- vc. DPH</p>
    </article>
    
    <article class="shopItem">
    <div><img src="images/book_thumb.jpg" width="200" height="200" alt=""/></div>
    <p class="itemName">Jmeno knihy</p>
    <p class="itemPrice">999,- vc. DPH</p>
    </article>
    
    <article class="shopItem">
    <div><img src="images/book_thumb.jpg" width="200" height="200" alt=""/></div>
    <p class="itemName">Jmeno knihy</p>
    <p class="itemPrice">999,- vc. DPH</p>
    </article>
    
<div>
  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin in tellus sit amet nibh dignissim sagittis. Aenean fermentum risus id tortor. Maecenas sollicitudin. Integer tempor. In sem justo, commodo ut, suscipit at, pharetra vitae, orci. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla accumsan, elit sit amet varius semper, nulla mauris mollis quam, tempor suscipit diam nulla vel leo. Phasellus rhoncus. Pellentesque sapien. Nullam lectus justo, vulputate eget mollis sed, tempor sed magna. Etiam ligula pede, sagittis quis, interdum ultricies, scelerisque eu. Nullam eget nisl. In dapibus augue non sapien. Proin in tellus sit amet nibh dignissim sagittis. Nulla non lectus sed nisl molestie malesuada. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam commodo dui eget wisi.
</div>
     </div>
  </main>
  <footer>(C) 2016 Lukas Honke</footer>
</div>
</body>
</html>
